---
import '@fontsource-variable/noto-sans';
import '@fontsource/anton';

import BaseHead from '@/components/layout/BaseHead.astro';
import Header from '@/components/ui/Header.astro';
import SideBar from '@/components/sidebar/SideBar.astro';

import { ClientRouter } from 'astro:transitions';

import { SITE_TITLE, SITE_DESCRIPTION, TRANSITION_API } from '@/config';

interface Props {
	image?: string;
	title?: string;
	description?: string;
	sideBarActiveItemID: string;
}

const {
	image,
	title = SITE_TITLE,
	description = SITE_DESCRIPTION,
	sideBarActiveItemID,
} = Astro.props;

import '@/styles/main.css';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} image={image} />
		{TRANSITION_API && <ClientRouter />}
	</head>
	<body class="relative min-h-screen">
		<div class="drawer lg:drawer-open">
			<input id="my-drawer" type="checkbox" class="drawer-toggle" />
			<div class="drawer-content bg-base-100 flex min-h-screen flex-col">
				<Header title={sideBarActiveItemID} />
				<main class="max-w-sxl mx-auto">
					<slot />
				</main>
			</div>
			<SideBar sideBarActiveItemID={sideBarActiveItemID} />
		</div>
	</body>
</html>
